/Debug/
/.vs/Ufo_pierwsza_wersja/v17/
/Ufo_pierwsza_wersja/Debug/
/.vs/Ufo_pierwsza_wersja/FileContentIndex/
/.vs/Ufo_pierwsza_wersja/v17/
/Ufo_pierwsza_wersja/x64/
/.vs/Ufo_pierwsza_wersja/v17/
/Ufo_pierwsza_wersja/Debug/
/.vs/Ufo_pierwsza_wersja/v17/
/.vs/Ufo_pierwsza_wersja/v17/
/.vs/
/.vs/
/.vs/
/.vs
/.vs
/Ufo_pierwsza_wersja/Debug/
/Ufo_pierwsza_wersja/Debug/
/Ufo_pierwsza_wersja/Debug/*
/Ufo_pierwsza_wersja/Debug/Ufo_pierwsza_wersja.log
/Ufo_pierwsza_wersja/Debug/
/Ufo_pierwsza_wersja/Debug/Ufo_pierwsza_wersja.Build.CppClean.log
/Ufo_pierwsza_wersja/Debug/
